<!--
<h1>Listing articles<h1/>
-->

<table>
	
  <!--
  <tr>
    <th>Title</th>
	<th>Text</th>
	<th colspan="3"></th>
  </tr>
  -->
  
  <% @articles.each do |article| %>
  <!-- <%= content_tag_for(:tr, @articles) do |article| %> -->
    <tr class="article_title">
      <td colspan="3"><%= article.title %></td>
	</tr>
    <tr class="article_text">
	  <td colspan="3"><%= article.text %></td>
	</tr>
	<tr>
	  <td><%= link_to "Show", article_path(article) %></td>
	  <td><%= link_to "Edit", edit_article_path(article) %></td>
	  <td><%= link_to "Destroy", article_path(article), method: :delete, data: { confirm: "Are you sure?" } %></td>
	</tr>
  <% end %>
  
</table>

<%= button_to '新建文章', new_article_path %>