<p>
  <!-- <strong>Title:</strong> -->
  <h2><%= @article.title %></h2>
</p>
<p>
  <!-- <strong>Text:</strong> -->
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @article.text %>
</p>

<br>

<h3>评论</h3>
<!--
<% @article.comments.each do |comment| %>
  <p>
	<strong>Commenter:</strong>
	<%= comment.commenter %>
  </p>
  <p>
	<strong>Comment:</strong>
	<%= comment.body %>
  </p>
<% end %>
-->
<%= render @article.comments %>

<br>

<h4>添加一个评论:</h4>
<!--
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
	<%= f.label :commenter %><br>
	<%= f.text_field :commenter %>
  </p>
  <p>
	<%= f.label :body %><br>
	<%= f.text_area :body %>
  </p>
  <p>
	<%= f.submit %>
  </p>
<% end %>
-->
<%= render "comments/form" %>

<%= link_to "返回", articles_path %>
<% if session[:user_id] %>
  | <%= link_to "编辑", edit_article_path(@article) %>
<% end %>