<!DOCTYPE html>
<html>
<head>
  <title>Team D&T</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "blog", :media => "all" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="banner">
    <%= @page_title || "Team D&T" %>
  </div>
  <div id="menu">
    <!-- <a href="http://localhost:3000/">主页</a> | -->
    <a href="http://localhost:3000/articles">Blog</a>
     | 团队简介
	<% if !session[:user_id] %>
	   | <a href="http://localhost:3000/login">登录</a>
	<% end %>
	<% if session[:user_id] %>
	   | <%= link_to "登出", "http://localhost:3000/logout", method: :delete %>
	<% end %>
  </div>
  <div id="columns">
	<!--
    
    -->
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
